# Heart Disease Prediction

### Importing libraries

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error,accuracy_score,confusion_matrix

### Loading dataset

In [4]:
df=pd.read_csv(r"HeartAttack.csv",na_values="?")

In [5]:
df.head(10)#top 10 rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,NaN,NaN,NaN,0
6,32,1,2,110.0,225.0,0.0,0.0,184.0,0.0,0.0,NaN,NaN,NaN,0
7,32,1,2,125.0,254.0,0.0,0.0,155.0,0.0,0.0,NaN,NaN,NaN,0
8,33,1,3,120.0,298.0,0.0,0.0,185.0,0.0,0.0,NaN,NaN,NaN,0
9,34,0,2,130.0,161.0,0.0,0.0,190.0,0.0,0.0,NaN,NaN,NaN,0

In [6]:
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
284,49,1,4,128.0,212.0,0.0,0.0,96.0,1.0,0.0,NaN,NaN,NaN,1
285,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1
286,50,1,4,140.0,231.0,0.0,1.0,140.0,1.0,5.0,2.0,NaN,NaN,1
287,50,1,4,140.0,341.0,0.0,1.0,125.0,1.0,2.5,2.0,NaN,NaN,1
288,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  slope       104 non-null    float64
 11  ca          3 non-null      float64
 12  thal        28 non-null     float64
 13  num         294 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 32.3 KB

In [8]:
df=df.drop(columns=["slope","ca","thal"],axis=1)

In [9]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0

In [10]:
df=df.dropna()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [11]:
df.isnull().sum()

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
num           0
dtype: int64

In [12]:
df["cp"].value_counts()#return the frequency of distinct elements

cp
4    113
2     92
3     46
1     10
Name: count, dtype: int64

### Dummies using pandas to convert categorical value to one-hot encoding

In [13]:
df=pd.get_dummies(df,columns=["cp","restecg"])
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,num,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,False,True,False,False,False,False,True
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,False,True,False,False,True,False,False
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,True,False,False,False,False,True,False
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,False,True,False,False,False,True,False
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,False,True,False,False,True,False,False

In [14]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'num       ', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0'],
      dtype='object')

In [15]:
df=df.rename(columns={"num       ":"target"})
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,False,True,False,False,False,False,True
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,False,True,False,False,True,False,False
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,True,False,False,False,False,True,False
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,False,True,False,False,False,True,False
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,False,True,False,False,True,False,False

In [16]:
numerical_cols=["age","trestbps","chol","thalach","oldpeak"]
cat_cols=list(set(df.columns)-set(numerical_cols)-{"target"})

In [17]:
df["oldpeak"].value_counts()

oldpeak
0.0    165
1.0     36
2.0     28
1.5     15
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: count, dtype: int64

In [18]:
cat_cols

['fbs',
 'exang',
 'restecg_0.0',
 'restecg_2.0',
 'cp_3',
 'cp_2',
 'cp_1',
 'restecg_1.0',
 'cp_4',
 'sex']

In [19]:
numerical_cols

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

### Splitting data

In [21]:
df_train,df_test=train_test_split(df,test_size=0.2,random_state=42)
len(df_train),len(df_test)

(208, 53)

In [23]:
scaler=StandardScaler()

def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler):
    x_numeric_scaled=scaler.fit_transform(df[numerical_cols])
    x_categorical=df[cat_cols].to_numpy()#categorical cols
    x=np.hstack((x_categorical,x_numeric_scaled))
    y=df["target"]

    return x,y

In [24]:
x_train,y_train=get_features_and_target_arrays(df_train,cat_cols,numerical_cols,scaler)

### Logistic Regression

In [56]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\KIIT\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [57]:
x_test,y_test=get_features_and_target_arrays(df_test,cat_cols,numerical_cols,scaler)

In [51]:
test_pred=clf.predict(x_test)
print("Mean squared error",mean_squared_error(y_test,test_pred))

Mean squared error 0.16981132075471697

In [52]:
print("Accuracy",accuracy_score(y_test,test_pred))

Accuracy 0.8301886792452831

In [34]:
confusion_matrix(y_test,test_pred)

array([[28,  5],
       [ 4, 16]], dtype=int64)

### Decision tree

In [54]:
dc_clf=DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)

dlf_pred=dc_clf.predict(x_test)
print("Mean squared error",mean_squared_error(y_test,dlf_pred))
print("Accuracy",accuracy_score(y_test,dlf_pred))

Mean squared error 0.33962264150943394
Accuracy 0.660377358490566

### Random forest classifier

In [49]:
rc_clf=RandomForestClassifier()
rc_clf.fit(x_train,y_train)

rlf_pred=rc_clf.predict(x_test)
print("Mean squared error", mean_squared_error(y_test,rlf_pred))
print("Accuracy", accuracy_score(y_test,rlf_pred))

Mean squared error 0.24528301886792453
Accuracy 0.7547169811320755

### SVM classifier

In [50]:
svm_clf=SVC()
svm_clf.fit(x_train,y_train)

svm_pred=svm_clf.predict(x_test)
print("Mean squared error",mean_squared_error(y_test,svm_pred))
print("Accuracy",accuracy_score(y_test,svm_pred))

Mean squared error 0.33962264150943394
Accuracy 0.660377358490566